{% extends 'layout.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('homepage') }}">home</a></li>
        {% for dir in breadcrumb %}
            <li>
                <a href="{{ path('homepage', {'path': '/'~dir}) }}">{{ dir }}</a>
                {% if not loop.last %}<em>/</em>{% endif %}
            </li>
        {% endfor %}
    </ul>

    <div class="row-fluid">
        <ul class="thumbnails">
            {% for dir in dirs %}
                {% set dirPath = path~'/'~dir.filename %}
                <li class="dir span2">
                    <a href="{{ path('homepage', {'path': dirPath}) }}">
                        {{ dir.fileName }}
                    </a>
                </li>
            {% endfor %}
            {% for file in files %}
                {% set filePath = path~'/'~file.filename %}
                <li class="dile span2">
                    <a href="{{ path('image', {'path': filePath}) }}">
                        <img src="{{ path('image', {'path': filePath}) }}" alt={{ file.filename }}/></li>
                    </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
