{% extends 'layout.html.twig' %}

{% block header %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="nav-collapse">
            <ul class="nav">
                <li class="brand">/</li>
                <li><a href="{{ path('homepage') }}">home</a></li>
                {% for dir in breadcrumb %}
                    <li class="brand">/</li>
                    {% if not loop.last %}
                        <li>
                            <a href="{{ path('homepage', {'path': '/'~dir}) }}">{{ dir }}</a>
                        </li>
                    {% else %}
                        <li class="brand">{{ dir }}</li>
                    {% endif %}
                {% endfor %}

                <li class="brand">/</li>

                <li class="lang dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        ...
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for dir in dirs %}
                            {% set dirPath = path~'/'~dir.filename %}
                            <li>
                                <a href="{{ path('homepage', {'path': dirPath}) }}">
                                    {{ dir.fileName }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div id="caroussel" class="carousel slide">
        <div class="carousel-inner">
        </div>
        <a class="carousel-control left" href="#caroussel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#caroussel" data-slide="next">&rsaquo;</a>
    </div>

    <div id="thumbnails" class="row-fluid">
        <ul class="thumbnails">
            {% for file in files %}
                {% set filePath = path~'/'~file.filename %}
                <li class="span2">
                    <a href="{{ path('image', {'path': filePath}) }}">
                        <img src="{{ path('thumbnail', {'path': filePath}) }}" alt="{{ file.filename }}" />
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
