{% extends 'layout.html.twig' %}

{% block content %}
    <ul id="nav">
        <li><a href="{{ path('homepage') }}">home</a></li>
        {% for dir in breadcrumb %}
            <li>
                <a href="{{ path('homepage', {'path': '/'~dir}) }}">{{ dir }}</a>
                {% if not loop.last %}<em>/</em>{% endif %}
            </li>
        {% endfor %}
    </ul>

    <dl class="view">
        {% for dir in dirs %}
            {% set dirPath = path~'/'~dir.filename %}
            <dt>
                <a href="{{ path('homepage', {'path': dirPath}) }}">
                    {{ dir.fileName }}
                </a>
            </dt>
        {% endfor %}
        {% for file in files %}
            <dt><img width="100" height="100" src="{{ app.request.basepath }}/image/thumbnail?path={{ file.realPath }}" /></dt>
        {% endfor %}
    </dl>
{% endblock %}
