{% extends 'layout.html.twig' %}

{% block content %}
    <ul class="breadcrumb{% if dir|default('false') %} active{% endif %}">
        {% if not path %}
            <li>home</li>
        {% else %}
            <li><a href="{{ path('homepage') }}">home</a></li>
        {% endif %}
        {% for dir in breadcrumb %}
            {% if not loop.last %}
                <li>
                    <a href="{{ path('homepage', {'path': '/'~dir}) }}">{{ dir }}</a>
                    <em>/</em>
                </li>
            {% else %}
                <li class="active">{{ dir }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="row-fluid">
        <ul class="thumbnails">
            {% for dir in dirs %}
                {% set dirPath = path~'/'~dir.filename %}
                <li class="dir span2">
                    <a href="{{ path('homepage', {'path': dirPath}) }}">
                        {{ dir.fileName }}
                    </a>
                </li>
            {% endfor %}
            {% for file in files %}
                {% set filePath = path~'/'~file.filename %}
                <li class="dile span2">
                    <a href="{{ path('image', {'path': filePath}) }}">
                        <img src="{{ path('image', {'path': filePath}) }}" alt={{ file.filename }}/></li>
                    </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
