{% extends 'layout.html.twig' %}

{% block content %}
    <a href="{{ path('homepage') }}">home</a>
    <ul class="view">
        {% for dir in dirs %}
            <li class="dir">
                <a href="{{ path('homepage', {'path': dir.realPath|slice(app.config.path|length + 1, dir.realPath|length - app.config.path|length)}) }}">
                    {{ dir.fileName }}
                </a>
            </li>
        {% endfor %}
        {% for file in files %}
            <li><img width="100" height="100" src="{{ app.request.basepath }}/image/thumbnail?path={{ file.realPath }}" /></li>
        {% endfor %}
    </ul>
{% endblock %}
